@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Giới thiệu"; 
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>

<div class="card">
	<div class="card-body">
		<h5>Thông tin sinh viên</h5>
		<p><strong>Họ tên:</strong>Đặng Đỗ Minh Đức</p>
		<p><strong>MSSV:</strong>HE187017</p>
        <p><strong>Email:</strong>minhduc118@gmail.com</p>
	</div>
</div>